@font-face {
    font-family: 'monogramosregular';
    src: url('../fonts/monogramos-webfont.eot');
    src: url('../fonts/monogramos-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monogramos-webfont.woff2') format('woff2'),
         url('../fonts/monogramos-webfont.woff') format('woff'),
         url('../fonts/monogramos-webfont.ttf') format('truetype'),
         url('../fonts/monogramos-webfont.svg#monogramosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
